body {
  background-color: #eae8fe;
}
body,
h1,
p {
  margin: 0;
}
img {
  margin-top: 0;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrap {
}
.main-wrap:first-child {
  background-color: aqua;
}
.main-wrap:nth-child(2) {
  background-color: red;
}
